/* Page styles */

body {
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
    margin: 2rem;
    font-family: sans-serif;
    align-items: center;
}

h1 {
    color: #000000;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    min-width: 50rem;
    text-align: center;
}

p {
    color: #333333;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    min-width: 25rem;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 7.5px 7.5px 5px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #c5c5c5;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #888888;
    outline: none;
}
    
button {
    padding: 0.5rem 1rem;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}

/* Responsive Design */

@media (max-width: 850px) {
    body {
        margin: 1rem;
    }

    h1 {
        min-width: 90%;
        font-size: 1.5rem;
    }

    .container {
        min-width: 50%;
    }
}